.wrapper {
  position: relative;
}

.word {
  position: relative;
  top: -10px;
  left: -10px;
}

.letter {
  position: absolute;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}